.ExperienceTrack {
  width: 700px;
  height: 80px;
  //   border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 770px) {
  .ExperienceTrack {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .ExperienceTrack {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .ExperienceTrack {
    width: 300px;
  }
}
