.Experience {
  display: flex;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 15rem;
  background-color: rgba(19, 21, 32, 0.938);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  &__btn {
    font-size: 1.2rem;
    border: none;
    background-color: transparent;

    padding: 0.5rem 1.2rem;
    cursor: pointer;
    margin: 0.5rem;
  }
  &__btn:hover {
    filter: var(--filter-icon);
  }

  &__title {
    font-size: 4rem;
    color: var(--color-text);
  }

  &__container-slider {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
@media (max-width: 1200px) {
  .Experience__ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 800px;
  }
  .Experience__title {
    font-size: 3rem;
  }

  .Experience__container-slider {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }
}

@media (max-width: 1100px) {
  .Experience__container-slider {
    display: flex;
    align-items: center;
    gap: 0rem;
  }
}

@media (max-width: 900px) {
  .Experience__ul {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
  }
}

@media (max-width: 600px) {
  .Experience {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .Experience__title {
    font-size: 2rem;
  }

  .Experience__subtitle {
    font-size: 1.2rem;
  }
  .Experience__ul {
    grid-template-columns: 1fr;
    width: 350px;
  }
}
