.Slider {
  width: 800px;
  overflow: hidden;
  margin: 0 auto;

  &__ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: transform 0.5s ease-in-out;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 1rem;
    scrollbar-width: none;
  }

  &__li {
    flex: 0 0 auto;
    width: 800px;
    height: 750px;
  }
}

@media (max-width: 1100px) {
  .Slider {
    width: 700px;
  }
}

@media (max-width: 815px) {
  .Slider {
    width: 500px;
  }
}

@media (max-width: 700px) {
  .Slider {
    width: 400px;
  }
}
