.AboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  padding-top: 6rem;
  background-color: rgb(19, 21, 32);

  // &__frame {
  //   width: 400px;
  //   height: 750px;
  //   border: 3px solid #d4c1ec;
  //   background-color: #f0f0f0;
  //   position: absolute;
  //   top: -20px;
  //   left: 20px;
  // }

  padding-bottom: 10rem;

  &__title {
    font-size: 4rem;
    color: var(--color-text);
  }

  &__container-about {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1200px;
  }

  &__img {
    overflow: hidden;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0%;
    width: 120%;
    height: 100%;

    background-color: rgba(19, 21, 32, 0.507);
    pointer-events: none;
    z-index: 2;
  }
  &__container-img {
    position: relative;
    border-radius: 0.5rem;

    display: flex;
    width: 700px;
    height: 900px;

    overflow: hidden;

    & img {
      width: 450px;
      border-radius: 0.5rem;

      cursor: pointer;

      transition: scale 500ms, z-index 500ms, filter 500ms;
    }
  }

  &__3 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  &__4 {
  }
  &__text {
    width: 60%;

    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.AboutMe__frame {
  width: 450px;
  height: 750px;
  border: 7px solid #d4c1ec;
  position: absolute;
  top: 90px;
  left: 40px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .AboutMe__container-about {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 900px) {
  .AboutMe__title {
    font-size: 3.5rem;
  }
  .AboutMe {
    font-size: 0.7rem;
  }
  .AboutMe__container-about {
    display: flex;
    flex-direction: column;
  }
  .AboutMe__container-img {
    width: 500px;
  }
  .AboutMe img {
  }
}

@media (max-width: 600px) {
  .AboutMe__title {
    font-size: 2rem;
  }
  .AboutMe__container-about {
    display: flex;
    flex-direction: column;
  }

  .AboutMe__container-img {
    width: 300px;
    height: 300px;
  }
  .AboutMe {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .AboutMe img {
    width: 100%;
  }
  .AboutMe__text {
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
  }
  .AboutMe__1 {
    display: none;
  }
  .AboutMe__2 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .AboutMe__3 {
    display: none;
  }
}
